html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  background-color: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
  line-height: 1.185;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: hsl(0, 0%, 100%);
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

h2 {
  font-size: 1.125rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

p {
  font-size: 0.9375rem;
  font-weight: 400;
  color: hsl(236, 100%, 93%);
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:focus {
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color;
}

.btn {
  background-color: inherit;
  border: none;
  color: hsl(236, 100%, 93%);
  cursor: pointer;
}
.btn:hover {
  color: hsl(0, 0%, 100%);
}

.btn-icon {
  height: 5px;
  width: 21px;
}

.hidden {
  display: none;
}

.activity-cards {
  margin: auto;
  max-width: 20.4375rem;
  width: 100%;
}

.activity-cards article {
  border-radius: 15px;
  margin-bottom: 1.5rem;
  padding-top: 2.375rem;
}

.activity-card__content {
  border-radius: 15px;
  background-color: hsl(235, 46%, 20%);
  padding: 1.75rem 1.5rem;
}
.activity-card__content:hover {
  background-color: hsl(235, 41%, 34%);
  cursor: pointer;
}

.card__work,
.card__play,
.card__study,
.card__exercise,
.card__social,
.card__selfcare {
  background-repeat: no-repeat;
}

.card__work {
  background-color: hsl(15, 100%, 70%);
  background-image: url("images/icon-work.svg");
  background-position: right 1.0625rem top -0.625rem;
}

.card__play {
  background-color: hsl(195, 74%, 62%);
  background-image: url("images/icon-play.svg");
  background-position: right 1.0625rem top -0.275rem;
}

.card__study {
  background-color: hsl(348, 100%, 68%);
  background-image: url("images/icon-study.svg");
  background-position: right 1.0625rem top -0.375rem;
}

.card__exercise {
  background-color: hsl(145, 58%, 55%);
  background-image: url("images/icon-exercise.svg");
  background-position: right 1.0625rem top -0.05rem;
}

.card__social {
  background-color: hsl(264, 64%, 52%);
  background-image: url("images/icon-social.svg");
  background-position: right 1.0625rem top -0.9375rem;
}

.card__selfcare {
  background-color: hsl(43, 84%, 65%);
  background-image: url("images/icon-self-care.svg");
  background-position: right 1.0625rem top -0.675rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-inline: 1.5rem;
}

.main-header,
.user-profile {
  border-radius: 15px;
}

.main-header {
  background-color: hsl(235, 46%, 20%);
  margin: 5rem auto 1.5rem;
  width: 100%;
  max-width: 20.4375rem;
}

.user-profile {
  background-color: hsl(246, 80%, 60%);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 2.125rem 0 2.125rem 2.125rem;
}

.user-profile__name span:first-child {
  font-size: 0.9375rem;
  font-weight: 400;
  color: hsl(236, 100%, 93%);
}
.user-profile__name span:last-child {
  display: block;
  max-width: 14ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-profile__image {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background: hsl(0, 0%, 85%);
  border: 3px solid hsl(0, 0%, 100%);
  margin-right: 1.25rem;
}

.main-nav__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
}

.main-nav__menu-item {
  display: inline-block;
}

.main-nav__menu-item-link {
  font-size: 1.125rem;
  font-weight: 400;
  color: hsl(235, 25%, 61%);
}
.main-nav__menu-item-link.active, .main-nav__menu-item-link:hover {
  color: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=styles.css.map */
