// ___________________________________________________________________
// Containers
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  column-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-inline: 1.5rem;
  max-width: 69.375rem;
  margin: auto;

  @media #{$brkpoint-md} {
    grid-template-columns: repeat(4, minmax(15.9375rem, 1fr));
  }
}
